name: Auto Test VLESS

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 55

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y unzip
          pip install requests pysocks

      - name: Install Xray
        run: |
          wget https://github.com/XTLS/Xray-core/releases/latest/download/Xray-linux-64.zip
          unzip Xray-linux-64.zip
          chmod +x xray

      - name: Run script
        run: python test.py

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: result
          path: result.txt
